In [325]:
import pandas as pd     
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.stem import WordNetLemmatizer
from scipy.spatial.distance import cosine
import string
from langdetect import detect
import nltk
import re
from sklearn.metrics.pairwise import cosine_similarity

In [326]:
data = pd.read_csv(r"H:\data analysis\Recommendation Sys/Coursera.csv")

In [327]:
#drop all not en
#from langdetect import  detect
#def english(text):
    #try:
    #    return detect(text)== 'en'
   # except:
  #      return False
#data2=data2[data2['Course Name'].apply(english)]

In [328]:
data.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [329]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522 entries, 0 to 3521
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         3522 non-null   object
 1   University          3522 non-null   object
 2   Difficulty Level    3522 non-null   object
 3   Course Rating       3522 non-null   object
 4   Course URL          3522 non-null   object
 5   Course Description  3522 non-null   object
 6   Skills              3522 non-null   object
dtypes: object(7)
memory usage: 192.7+ KB

In [330]:
data.isnull().sum()

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course URL            0
Course Description    0
Skills                0
dtype: int64

In [331]:
data['Difficulty Level'].value_counts()

Difficulty Level
Beginner          1444
Advanced          1005
Intermediate       837
Conversant         186
Not Calibrated      50
Name: count, dtype: int64

In [332]:
data= data[['Course Name','Difficulty Level','Course Description','Skills']]
data.head(5)

,Course Name,Difficulty Level,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Beginner,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Beginner,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,Advanced,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,Intermediate,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Beginner,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [333]:
data.head(5)

,Course Name,Difficulty Level,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Beginner,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Beginner,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,Advanced,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,Intermediate,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Beginner,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [334]:
#Tags Column The tags column is the combination of the following columns : Course Name + Difficulty Level + Course Description + Skills
data['tags'] = data['Course Name'] + data['Difficulty Level'] + data['Course Description'] + data['Skills']
data.head(5)

,Course Name,Difficulty Level,Course Description,Skills,tags
0,Write A Feature Length Screenplay For Film Or ...,Beginner,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...,Write A Feature Length Screenplay For Film Or ...
1,Business Strategy: Business Model Canvas Analy...,Beginner,"By the end of this guided project, you will be...",Finance business plan persona (user experien...,Business Strategy: Business Model Canvas Analy...
2,Silicon Thin Film Solar Cells,Advanced,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...,Silicon Thin Film Solar CellsAdvancedThis cour...
3,Finance for Managers,Intermediate,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...,Finance for ManagersIntermediateWhen it comes ...
4,Retrieve Data using Single-Table SQL Queries,Beginner,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...,Retrieve Data using Single-Table SQL QueriesBe...

In [335]:
data['tags'].iloc[1]

'Business Strategy: Business Model Canvas Analysis with MiroBeginnerBy the end of this guided project, you will be fluent in identifying and creating Business Model Canvas solutions based on previous high-level analyses and research data.  This will enable you to identify and map the elements required for new products and services. Furthermore, it is essential for generating positive results for your business venture. This guided project is designed to engage and harness your visionary and exploratory abilities. You will use proven models in strategy and product development with the Miro platform to explore and analyse your business propositions.   We will practice critically examining results from previous analysis and research results in deriving the values for each of the business model sections.Finance  business plan  persona (user experience)  business model canvas  Planning  Business  project  Product Development  presentation  Strategy business business-strategy'

In [336]:
#Dataframe to be used

In [337]:
data = data[['Course Name','tags']]
data.head()

,Course Name,tags
0,Write A Feature Length Screenplay For Film Or ...,Write A Feature Length Screenplay For Film Or ...
1,Business Strategy: Business Model Canvas Analy...,Business Strategy: Business Model Canvas Analy...
2,Silicon Thin Film Solar Cells,Silicon Thin Film Solar CellsAdvancedThis cour...
3,Finance for Managers,Finance for ManagersIntermediateWhen it comes ...
4,Retrieve Data using Single-Table SQL Queries,Retrieve Data using Single-Table SQL QueriesBe...

In [338]:
#Data_preproccing
data['Course Name'] = data['Course Name'].str.replace('&', '', regex=False)
data['Course Name'] = data['Course Name'].str.replace(':', '', regex=False)
data['Course Name'] = data['Course Name'].str.replace('_', '', regex=False)
data['Course Name'] = data['Course Name'].str.replace('-', '', regex=False)
data['Course Name'] = data['Course Name'].str.replace('(', '', regex=False)
data['Course Name'] = data['Course Name'].str.replace(')', '', regex=False)
data['Course Name'] = data['Course Name'].str.replace('+', '', regex=False)
data['Course Name'] = data['Course Name'].str.replace(',,', ',', regex=False)
data['Course Name'] = data['Course Name'].str.replace(',,,', ',', regex=False)
data['Course Name'] = data['Course Name'].str.replace(' ', ',', regex=False)
data['Course Name'] = data['Course Name'].str.replace("'", '', regex=False)
data['Course Name'] = data['Course Name'].str.replace(',,', ',', regex=False)

data['tags'] = data['tags'].str.replace('&', '', regex=False)
data['tags'] = data['tags'].str.replace(':', '', regex=False)
data['tags'] = data['tags'].str.replace('_', '', regex=False)
data['tags'] = data['tags'].str.replace('-', '', regex=False)
data['tags'] = data['tags'].str.replace('(', '', regex=False)
data['tags'] = data['tags'].str.replace(')', '', regex=False)
data['tags'] = data['tags'].str.replace('+', '', regex=False)
data['tags'] = data['tags'].str.replace(',,', ',', regex=False)
data['tags'] = data['tags'].str.replace(',,,', ',', regex=False)
data['tags'] = data['tags'].str.replace(' ', ',', regex=False)
data['tags'] = data['tags'].str.replace("'", '', regex=False)
data['tags'] = data['tags'].str.replace(',,', ',', regex=False)

In [339]:
df = data[['Course Name','tags']]
df.head()

,Course Name,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...","Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,"Business,Strategy,Business,Model,Canvas,Analys...","Business,Strategy,Business,Model,Canvas,Analys..."
2,"Silicon,Thin,Film,Solar,Cells","Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,"Finance,for,Managers","Finance,for,ManagersIntermediateWhen,it,comes,..."
4,"Retrieve,Data,using,SingleTable,SQL,Queries","Retrieve,Data,using,SingleTable,SQL,QueriesBeg..."

In [340]:
#df-preproccing
df['Course Name'] = df['Course Name'].str.replace(',,', ',', regex=False)
df['Course Name'] = df['Course Name'].str.replace('.', ' ', regex=False)
df['Course Name'] = df['Course Name'].str.replace('�', ',', regex=False)
df['Course Name'] = df['Course Name'].str.replace(',', ' ', regex=False)
df['tags'] = df['tags'].str.replace('.', ' ', regex=False)
df['tags'] = df['tags'].str.replace(',,', ',', regex=False)
df['tags'] = df['tags'].str.replace('�', ',', regex=False)
df['tags'] = df['tags'].str.replace(',', ' ', regex=False)

In [341]:
df['tags'].iloc[100]

'The New Nordic Diet from Gastronomy to HealthBeginnerThe New Nordic Diet is a new food culture developed in 200913 with key emphasis on gastronomy health and environment  Major research in its effect on acceptability behaviour and learning skills and disease prevention have been conducted by the OPUS centre at the University of Copenhagen and the people behind the awardwinning restaurant Noma in Copenhagen  This course will give the participants the opportunity to experience a healthy and palatable new food and eating concept diet  The New Nordic Diet  and an understanding of how food and diets can affect mental and physical health and ensure the foundation for a healthier life style for future generations with a regional based diet and food culture  In Denmark  the Nordic cuisine  has expanded from food eaten at the awardwinning Copenhagen restaurant Noma to homemade dishes of local ingredients of wholegrain rye bread root vegetables berries fresh fish and seaweed  This course is also part of the EIT Health Programmedietetics dieting sustainability cardiovascular disease diet nutrition acceptance nutrition lifestyle disease eating diets lifesciences nutrition'

In [342]:
#Data Pre-Processing
# Removing spaces between the words
df['Course Name'] = df['Course Name'].astype(str)
df['tags'] = df['tags'].astype(str)
df['tags'] = df['tags'].str.lower()

In [343]:
df['tags'].iloc[100]

'the new nordic diet from gastronomy to healthbeginnerthe new nordic diet is a new food culture developed in 200913 with key emphasis on gastronomy health and environment  major research in its effect on acceptability behaviour and learning skills and disease prevention have been conducted by the opus centre at the university of copenhagen and the people behind the awardwinning restaurant noma in copenhagen  this course will give the participants the opportunity to experience a healthy and palatable new food and eating concept diet  the new nordic diet  and an understanding of how food and diets can affect mental and physical health and ensure the foundation for a healthier life style for future generations with a regional based diet and food culture  in denmark  the nordic cuisine  has expanded from food eaten at the awardwinning copenhagen restaurant noma to homemade dishes of local ingredients of wholegrain rye bread root vegetables berries fresh fish and seaweed  this course is also part of the eit health programmedietetics dieting sustainability cardiovascular disease diet nutrition acceptance nutrition lifestyle disease eating diets lifesciences nutrition'

In [344]:
df.isnull().sum()

Course Name    0
tags           0
dtype: int64

In [345]:
df.rename(columns = {'Course Name':'course_name'}, inplace = True)

df.head()

,course_name,tags
0,Write A Feature Length Screenplay For Film Or ...,write a feature length screenplay for film or ...
1,Business Strategy Business Model Canvas Analys...,business strategy business model canvas analys...
2,Silicon Thin Film Solar Cells,silicon thin film solar cellsadvancedthis cour...
3,Finance for Managers,finance for managersintermediatewhen it comes ...
4,Retrieve Data using SingleTable SQL Queries,retrieve data using singletable sql queriesbeg...

In [346]:
import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
def remove_stopwords(text):
    return " ".join([word for word in text.split() if word.lower() not in stop_words])
df['cleaned_tags'] = df['tags'].apply(remove_stopwords)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\yousefellouzy\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [347]:
def preprocess_text(text):
    text = text.lower()
    text = text.translate(str.maketrans('', '', string.punctuation))
    return text

In [348]:
#Lemmazizations
lemmatizer = WordNetLemmatizer()
def lemmatize_text(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])
df['lemmatized_tags'] = df['tags'].apply(lemmatize_text)

In [349]:
# #CountVectorizer
# from sklearn.feature_extraction.text import CountVectorizer
# cv = CountVectorizer( max_features=3000)
# vectors = cv.fit_transform(df['lemmatized_tags']).toarray()

In [358]:
#TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
vectors = tfidf.fit_transform(df['lemmatized_tags']).toarray()

In [359]:
#Normalization
from sklearn.preprocessing import  MinMaxScaler
scaler = MinMaxScaler()
normalized_vectors = scaler.fit_transform(vectors)
normalized_vectors

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [360]:
#preprocess for entery data
def preprocess_text(text):
    text = text.lower()
    text = text.translate(str.maketrans('', '', string.punctuation))
    return text

In [361]:
def preprocess_input(course_name, vectorizer):
    course_name = preprocess_text(course_name)  
    course_name_lemmatized = lemmatize_text(course_name)  
    course_vector = vectorizer.transform([course_name_lemmatized]).toarray()  
    return course_vector

In [357]:
df.head()

,course_name,tags,cleaned_tags,lemmatized_tags
0,Write A Feature Length Screenplay For Film Or ...,write a feature length screenplay for film or ...,write feature length screenplay film televisio...,write a feature length screenplay for film or ...
1,Business Strategy Business Model Canvas Analys...,business strategy business model canvas analys...,business strategy business model canvas analys...,business strategy business model canvas analys...
2,Silicon Thin Film Solar Cells,silicon thin film solar cellsadvancedthis cour...,silicon thin film solar cellsadvancedthis cour...,silicon thin film solar cellsadvancedthis cour...
3,Finance for Managers,finance for managersintermediatewhen it comes ...,finance managersintermediatewhen comes numbers...,finance for managersintermediatewhen it come t...
4,Retrieve Data using SingleTable SQL Queries,retrieve data using singletable sql queriesbeg...,retrieve data using singletable sql queriesbeg...,retrieve data using singletable sql queriesbeg...

In [377]:
def recommend(course_name, df, vectorizer, normalized_vectors, top_n=10):
    course_vector = preprocess_input(course_name, vectorizer)
    
    similarity_scores = cosine_similarity(course_vector, normalized_vectors)
    similarity_scores = similarity_scores[0]
    
    similar_courses = [(index, score) for index, score in enumerate(similarity_scores)]
    similar_courses_sorted = sorted(similar_courses, key=lambda x: x[1], reverse=True)
    
    recommended_courses = set()
    count = 0
    
    print(f"Top {top_n} courses similar to '{course_name}':")
    for i in similar_courses_sorted:
        course_name = df.iloc[i[0]]['course_name']
        
        if course_name not in recommended_courses:
            print(course_name)
            recommended_courses.add(course_name)
            count += 1
        
        if count == top_n:
            break

In [378]:
recommend("3d design for cad", df, tfidf, normalized_vectors, top_n=10)

Top 10 courses similar to '3d design for cad':
3D CAD Fundamental
3D CAD Application
Manufacturing Process with Autodesk Fusion 360
Intro to Digital Manufacturing with Autodesk Fusion 360
Autodesk Fusion 360 Integrated CAD/CAM/CAE
Introduction to CAD CAM and Practical CNC Machining
3D Model Creation with Autodesk Fusion 360
Engineering Design Process with Autodesk Fusion 360
The 3D Printing Revolution
3D Printing Hardware

In [381]:
#saving_model
import pickle
#TF-IDF vectorizer
with open('tfidf_vectorizer.pkl', 'wb') as f:
    pickle.dump(tfidf, f)

# (TF-IDF vectors)
with open('tfidf_vectors.pkl', 'wb') as f:
    pickle.dump(normalized_vectors, f)

# DataFrame
df.to_pickle('courses_list.pkl')